
<main>
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
<!--          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>-->
          <i class="fa-solid fa-handshake-angle"></i>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a class="nav-link px-2 text-secondary" routerLink="/">Erikti</a></li>
          <li><a class="nav-link px-2 text-white" routerLink="organizations">Organizations</a></li>
          <li><a class="nav-link px-2 text-white" routerLink="events">Events</a></li>
          <li><a href="#" class="nav-link px-2 text-white" routerLink="contacts">Contact us</a></li>
          <li><a href="#" class="nav-link px-2 text-white" routerLink="about">About us</a></li>
        </ul>
        <div class="text-end" >
          <div *ngIf="!checkToken()" routerLink="user-info" class="user-details-container justify-content-center">
            <p>{{"Erasyl KTOtoTam" }}</p>
            <p>{{" ID: 2454313 "}}</p>

          </div>


          <button *ngIf="checkToken()" type="button" class="btn btn-outline-light me-2" routerLink="login">Login</button>
          <button *ngIf="checkToken()" type="button" class="btn btn-warning" routerLink="register">Sign-up</button>
        </div>
      </div>
    </div>
  </header>
</main>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<router-outlet />
